@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensansbold-webfont.woff2') format('woff2'),
         url('../fonts/opensansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_lightregular';
    src: url('../fonts/opensanslight-webfont.woff2') format('woff2'),
         url('../fonts/opensanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensansregular-webfont.woff2') format('woff2'),
         url('../fonts/opensansregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('../fonts/opensanssemibold-webfont.woff2') format('woff2'),
         url('../fonts/opensanssemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}