.article-post {
	float: left;
	margin: 0 30px 15px 0;
	width: 217px;
	border-right: 1px solid #dde7ee;
	border-left: 1px solid #dde7ee;
	border-bottom: 1px solid #dde7ee;

	a {
		display: block;
	}

	p {
		margin: 8px 0 5px 20px !important;
		font-size: 15px !important;
	}

	span {
		font-size: 11px;
		color: #818f98;
		margin: 0 0 10px 20px;
		display: block;
	}


	.article-post__img {
		position: relative;
		margin: 0;

		img {
			width: calc(100% + 2px);
			display: block;
			position: relative;
			left: -1px;
			clip-path: polygon(0 100%, 100% 85%, 100% 0, 0px 0px);
		}

		&:after {
			background-image: linear-gradient(54deg, rgba(62,97,116,.21), rgba(54,160,50,.21));
			content: "";
			width: calc(100% + 2px);
			height: 100%;
			display: block;
			position: absolute;
			left: -1px;
			top: 0;
			clip-path: polygon(0 100%, 100% 85%, 100% 0, 0px 0px);
		}

	}

}

.article-post-right {
	float: right;
	margin: 0 0 15px 30px;
}

@media (max-width: 480px) {
	
	.article-post, .article-post-right {
		float: none;
		margin: 20px auto;
	}

}