.banner {
	background: url("../img/banner.jpg") center #000 no-repeat;
	padding: 100px 0 110px;

	h1 {
		font-size: 32px;
		color: $white;
		line-height: 36px;

		&:after {
			width: 82px;
			height: 1px;
			background: $white;
			content: "";
			display: block;
			margin-top: 30px;
		}

	}

	p {
		font-size: 20px;
		font-family: open_sans_lightregular;
		color: $white;
		margin: 25px 0;
		line-height: 24px;
	}

}

@media (max-width: 540px) {
	
	.banner {
		padding: 20px 0 280px;
		background: url("../img/banner-tablet.jpg") center no-repeat;
		background-size: cover;

		h1 {
			font-size: 19px;
			line-height: 22px;

			&:after {
				margin-top: 20px;
			}

		}

		p {
			font-size: 15px;
			line-height: 18px;
			margin: 20px 0;
		}

		.button {
			text-align: center;
		}

	}

}