.breadcrumbs {
	margin-bottom: 20px;
	
	p {
		font-size: 15px;
		font-family: open_sans_lightregular;
		margin: 0 !important;
	}

	a {
		color: #23c52d;
		text-decoration: none;
	}

	span {
		color: #818f98;
	}

	img {
		margin: 0 10px;
	}

}