.phone {

	a {
		color: #1e272e;
		font-size: 27px;
		text-decoration: none;
	}

	p {
		color: #838f97;
		font-family: open_sans_lightregular;
		font-size: 12px;
	}

}

.phone-center {
	align-self: center;
}

.phone-footer {
	
	a {
		color: #fff;
	}

	p {
		color: #97acb7;
	}

}